<section id="Alum">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Alums</h2>
            <h3 class="section-subheading text-muted">Past Laboratory Participants</h3>
        </div>
    </div>
    <!--List of all alums-->
    <ul class="alumni">
        {% for member in site.alumni %}
        <li>
            <h4>{{ member.name }}</h4>
            <p class="text-muted">{{ member.graduation }}</p>
            <ul class="list-inline social-buttons">
                {% for network in member.social %}
                <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a></li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</section>
