<section id="Facilities">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Facilities</h2>
                <h3 class="section-subheading text-muted">
                    <img style="margin:0px 0.2ex;vertical-align:middle" src="https://mail.google.com/mail/e/B60" goomoji="B60" class="CToWUd">
                    Where the Magic Happens
                    <img style="margin:0px 0.2ex;vertical-align:middle" src="https://mail.google.com/mail/e/B60" goomoji="B60" class="CToWUd">
                </h3>
            </div>
            <!--New Facilities program-->
            <div class="Black Engr">
                <center><img alt="Black Engineering" src="http://static1.squarespace.com/static/53d62fbfe4b01ef34f3af730/t/53e1762ce4b09446edddb5c9/1407284801339/?format=750w"></center>
                <p>Student and Graduate Student Office Space located at Black Engineering Building.</p>
            </div>
            <div class="Gilman">
            	<center><img alt="Gilman Hall" src="http://static1.squarespace.com/static/53d62fbfe4b01ef34f3af730/t/53e17670e4b019a967f8ae95/1407284849851/?format=750w"></center>
            	<p>Laboratory space with chemical/biological hoods located at Gilman Hall.</p>
            </div>
            <div class="ASC">
            	<center><img alt="Applied Sciences" src="http://static1.squarespace.com/static/53d62fbfe4b01ef34f3af730/t/53e1768ce4b019a967f8aeca/1407284899769/?format=750w"></center>
            	<p>Cleanroom and nano-manufacturing/characterization located at the Applied Sciences Complex.</p>
            </div>
            <div class="maps">
                <a href="https://www.google.com/maps/dir//Black+Engineering,+Iowa+State+University,+Ames,+IA+50011/@42.0260043,-93.6510934,17z/data=!4m13!1m4!3m3!1s0x87ee70a5e9000dfb:0xea5addce50e70ae1!2sBlack+Engineering,+Iowa+State+University,+Ames,+IA+50011!3b1!4m7!1m0!1m5!1m1!1s0x87ee70a5e9000dfb:0xea5addce50e70ae1!2m2!1d-93.6513617!2d42.0260459"><center><img alt="Aerial ISU" src="https://www.google.com/maps/vt/data=VOmXGY-uVpasHtwuouHGoR3Q1GPeGeHvrrQOpgXJxJ1LwlLuumkIOzxuJGbhf-yZEJzvIi2zwHETOQ"></center></a>
                <p>Drop on by some time!</p>
                </div>
            </div>
        </div>
    </div>
</section>
