<section id="Fun">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Enjoying the Moments</h2>
                <h3 class="section-subheading text-muted">The group has some fun!</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2009-2011</h4>
                                <h4 class="subheading">Our Humble Beginnings</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/perfectgame.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>March 2011</h4>
                                <h4 class="subheading">An Agency is Born</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>December 2012</h4>
                                <h4 class="subheading">Transition to Full Service</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="circle img-img-responsive" src="img/about/4.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>July 2014</h4>
                                <h4 class="subheading">Phase Two Expansion</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>Be Part
                                <br>Of Our
                                <br>Story!</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Alternate version
        <div class="row">
            <div class="col-lg-12">
                <table class="photo-album">
                    <tbody>
                        <tr class="fun-left">
                            <td>
                                
                            </td>
                            <td>
                                <img src="img/about/perfectgame.jpg" alt="Bowling">
                            </td>
                            <td>
                                <h4>Perfect Games</h4>
                                <p>Bowling, pizza, and more!</p>
                                <p>Nothing beats a good explanation.</p>
                            </td>
                        </tr>
                        <tr class="fun-right">
                            <td>
                                <h4>Board Game Night</h4>
                                <p>Everyone had great fun. Many good memories made!</p>
                                <p>This is a picture caption</p>
                            </td>
                            <td>
                                <img src="img/about/2.jpg" alt="Planes">
                            </td>
                            <td>
                                
                            </td>
                        </tr>
                        <tr class="fun-left">
                            <td>
                                
                            </td>
                            <td>
                                <h4>Evening cookout</h4>
                                <p>Suprem can really cook!</p>
                            </td>
                            <td>
                                <img src="img/about/3.jpg" alt="Mac">
                            </td>
                        </tr>
                        <tr class="fun-right">
                            <td>
                                <img src="img/about/4.jpg" alt="Mountain">
                            </td>
                            <td>
                                <h4>Puttin' on the Ritz!</h4>
                                <p class="text-muted">Anyone can appreciate good art.</p>
                            </td>
                            <td>
                                
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        -->
    </div>
</section>
