<section id="Fun">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Enjoying the Moments</h2>
                <h3 class="section-subheading text-muted">The group has some fun!</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img src="img/about/1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Perfect Games</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Bowling, pizza, and more!</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img src="img/about/2.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Evening cookout</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Suprem can really cook!</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img src="img/about/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Board Game Night</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Everyone had great fun. Many good memories made!</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img src="img/about/4.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Puttin' on the Ritz!</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Anyone can appreciate good art.</p>
                            </div>
                        </div>
                    </li>
                    <!-- Do we want this end part?
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>Be Part
                                <br>Of Our
                                <br>Story!</h4>
                        </div>
                    </li>
                    -->
                </ul>
            </div>
        </div>
    </div>
</section>
