<!--News Section-->
<section id="News">
  <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">News</h2>
            <h3 class="section-subheading"></h3>
        </div>
    </div>
    <table class="newspaper" align="center" width="80%">
        <thead>
            <td>
                <h4>Achievements</h4>
            </td>
            <td>
                <h4>Media Coverage</h4>
            </td>
        </thead>
        <tbody>
            <tr>
                <td width="50%">
                    <ul>
                        <li>
                            <strong>5.23.2015:</strong>
                            <span class="news-item">News happens here.</span>
                            <p><a href="http://www.cnn.com">Read more1</a></p>
                        </li>
                        <li>
                            <strong class="news-date">3.11.2015:</strong>
                            <span class="news-item">Today was amazing!</span>
                            <p><a href="http://www.twitter.com">Read more3</a></p>
                        </li>
                    </ul>
                </td>
                <td width="50%">
                    <ul>
                        <li>
                            <strong class="news-date">4.16.2015:</strong>
                            <span class="news-item">We did this.</span>
                            <p><a href="http://www.foxnews.com">Read more2</a></p>
                        </li>
                        <li>
                            <strong class="news-date">3.09.2015:</strong>
                            <span class="news-item">We also did this amazingly stupendous item of business that everyone should pay attention to.</span>
                            <p><a href="http://www.msn.com">Read more4</a></p>
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
  </div>
</section>
