<!-- About Section -->
    <section id="Publications">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Publications</h2>
                </div>
            </div> <!--this end of div "row" was missing from the document-->

<!--Actual Publications-->
<div class="gsc_lcl" role="complementary" id="gsc_art">
    <form method="post" action="https://scholar.google.com/citations?hl=en&user=gJzQV6QAAAAJ&view_op=list_works" id="citationsForm">
    <input type="hidden" name="xsrf" value="AMstHGQAAAAAVRrkVJFpcSdHjQBLjlbISyGrAISHugaj">


<table id="gsc_a_t" align="center">
    <tbody>
    <thead id="gsc_a_hd">
        <tr id="gsc_a_tr0" aria-hidden="true">
            <th class="gsc_a_t" id="gsc_a_tr0_t"></th>
            <th class="gsc_a_c"></th>
        </tr>
        <tr id="gsc_a_trh">
            <th class="gsc_a_t" id="gsc_a_trh_t" scope="col">
                <span id="gsc_a_ta">No.</span>
            </th>
            <th class="gsc_a_c" scope="col" align="center">
                <span id="gsc_a_ca">Title</span>
            </th>
        </tr>
    </thead>
    
            <!--Journal Articles-->
        <tr class="gsc_a_tr">
            <td></td>
            <td><strong>Journal Articles</strong></td>
        </tr>
        <tr class="gsc_a_tr"><!--#23-->
            <td class="gsc_a_y" align="center">
                <span class="gsc_a_h">31</span>
            </td>
            <td class="gsc_a_t">
                <a href="http://docs.lib.purdue.edu/cgi/viewcontent.cgi?article=1077&context=nanopub" class="gsc_a_at">Independently addressable fields of porous anodic alumina embedded in SiO2 on Si</a>
                <div class="gs_gray">A.D. Franklin, D.B. Janes, J.C. Claussen, T.S. Fisher, T.D. Sands</div>
                <div class="gs_gray"><em>Applied Physics Letters</em> 92 (1), 013122-013122-3<span class="gs_oph">, 2008</span></div>
            </td>
        </tr>
        <tr class="gsc_a_tr"><!--#22-->
            <td class="gsc_a_y" align="center">
                <span class="gsc_a_h">30</span>
            </td>
            <td class="gsc_a_t">
                <a href="http://docs.lib.purdue.edu/cgi/viewcontent.cgi?article=1316&context=nanopub" class="gsc_a_at">Electrochemical biosensor of nanocube-augmented carbon nanotube networks</a>
                <div class="gs_gray">J.C. Claussen, A.D. Franklin, A. ul Haque, D.M. Porterfield, T.S. Fisher</div>
                <div class="gs_gray"><em>ACS Nano</em> 3 (1), 37-44<span class="gs_oph">, 2009</span></div>
            </td>
        </tr>
        <tr class="gsc_a_tr"><!--#21-->
            <td class="gsc_a_y" align="center">
                <span class="gsc_a_h">29</span>
            </td>
            <td class="gsc_a_t">
                <a href="http://www.researchgate.net/profile/Jenna_Rickus/publication/223569206_A_self-referencing_glutamate_biosensor_for_measuring_real_time_neuronal_glutamate_flux/links/0f31753c2f86c4a7bd000000.pdf" class="gsc_a_at">A self-referencing glutamate biosensor for measuring real-time neuronal glutamate flux</a>
                <div class="gs_gray">E.S. McLamore, S. Mohanty, J. Shi, J. Claussen, J.L. Rickus, S. Jedlicka, D.M. Porterfield</div>
                <div class="gs_gray"><em>Journal of Neuroscience Methods</em> 189 (1), 14-22<span class="gs_oph">, 2010</span></div>
            </td>
        </tr>
        <tr class="gsc_a_tr"><!--#20-->
            <td class="gsc_a_y" align="center">
                <span class="gsc_a_h">28</span>
            </td>
            <td class="gsc_a_t">
                <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC2864166/" class="gsc_a_at">Electrochemical glucose biosensor of platinum nanospheres connected by carbon nanotubes</a>
                <div class="gs_gray">J.C. Claussen, S.S. Kim, A. ul Haque, M.S. Artiles, D.M. Porterfield, T.S. Fisher</div>
                <div class="gs_gray"><em>Journal of Diabetes Science and Technology</em> 4 (2), 312<span class="gs_oph">, 2010</span></div>
            </td>
        </tr>
        <tr class="gsc_a_tr"><!--#19-->
            <td class="gsc_a_y" align="center">
                <span class="gsc_a_h">27</span>
            </td>
            <td class="gsc_a_t">
                <a href="http://docs.lib.purdue.edu/cgi/viewcontent.cgi?article=2021&context=nanopub" class="gsc_a_at">Oscillatory glucose flux in INS1 pancreatic Beta cells: a self-referencing microbiosensor study</a>
                <div class="gs_gray">J. Shi, E.S. McLamore, D. Jaroch, J.C. Claussen, J.L. Rickus, D.M. Porterfield</div>
                <div class="gs_gray"><em>Analytical Biochemistry</em> 411 (2), 185–193<span class="gs_oph">, 2010</span></div>
            </td>
        </tr>
        <tr class="gsc_a_tr"><!--#18-->
            <td class="gsc_a_y" align="center">
                <span class="gsc_a_h">26</span>
            </td>
            <td class="gsc_a_t">
                <a href="http://www.sciencedirect.com/science/article/pii/S095656631000655X/pdfft?md5=e667da5aceb0bba5f3c4501f013279c2&pid=1-s2.0-S095656631000655X-main.pdf" class="gsc_a_at">A self-referencing platinum nanoparticle decorated enzyme-based microbiosensor for real-time measurement of physiological glucose transport</a>
                <div class="gs_gray">E.S. McLamore, J. Shi, D. Jaroch, J.C. Claussen, A. Uchida, Y. Jiang, W. Zhang, M.K. Banks, K.K. Buhman, D. Teegarden, J.L. Rickus, D.M. Porterfield</div>
                <div class="gs_gray"><em>Biosensors and Bioelectronics</em> 26 (5), 2237-2245<span class="gs_oph">, 2011</span></div>
            </td>
        </tr>
        <tr class="gsc_a_tr"><!--#17-->
            <td class="gsc_a_y" align="center">
                <span class="gsc_a_h">25</span>
            </td>
            <td class="gsc_a_t">
                <a href="http://docs.lib.purdue.edu/cgi/viewcontent.cgi?article=2011&context=nanopub" class="gsc_a_at">Transforming the fabrication and biofunctionalization of gold nanoelectrode arrays into versatile electrochemical glucose biosensors</a>
                <div class="gs_gray">J.C. Claussen, M. Wickner, T.S. Fisher, D.M. Porterfield</div>
                <div class="gs_gray"><em>ACS Applied Materials & Interfaces</em> 3 (5), 1765–1770<span class="gs_oph">, 2011</span></div>
            </td>
        </tr>
        <tr class="gsc_a_tr"><!--#16-->
            <td class="gsc_a_y" align="center">
                <span class="gsc_a_h">24</span>
            </td>
            <td class="gsc_a_t">
                <a href="http://docs.lib.purdue.edu/cgi/viewcontent.cgi?article=2075&context=nanopub" class="gsc_a_at">Microbiosensors based on DNA modified single-walled carbon nanotube and Pt black nanocomposites</a>
                <div class="gs_gray">J. Shi, T.G. Cha, J.C. Claussen, A.R. Diggs, J.H. Choi, D.M. Porterfield</div>
                <div class="gs_gray"><em>Analyst 136</em> (23), 4916-4924<span class="gs_oph">, 2011</span></div>
            </td>
        </tr>
        <tr class="gsc_a_tr"><!--#15-->
            <td class="gsc_a_y" align="center">
                <span class="gsc_a_h">23</span>
            </td>
            <td class="gsc_a_t">
                <a href="http://works.bepress.com/cgi/viewcontent.cgi?article=1026&context=jonathan_claussen" class="gsc_a_at">Electrochemical glutamate biosensing with nanocube and nanosphere augmented single-walled carbon nanotube networks: a comparative study</a>
                <div class="gs_gray">J.C. Claussen, M.S. Artiles, E.S. McLamore, S. Mohanty, J. Shi, J.L. Rickus, T.S. Fisher, D.M. Porterfield</div>
                <div class="gs_gray"><em>Journal of Materials Chemistry</em> 21 (30), 11224-11231<span class="gs_oph">, 2011</span></div>
            </td>
        </tr>
        <tr class="gsc_a_tr"><!--#14-->
            <td class="gsc_a_y" align="center">
                <span class="gsc_a_h">22</span>
            </td>
            <td class="gsc_a_t">
                <a href="http://docs.lib.purdue.edu/cgi/viewcontent.cgi?article=1957&context=nanopub" class="gsc_a_at">A comparative study of enzyme immobilization strategies for multi-walled carbon nanotube glucose biosensors</a>
                <div class="gs_gray">J. Shi, J.C. Claussen, E.S. McLamore, A. ul Haque, D. Jaroch, A.R. Diggs, P. Calvo-Marzal, J. L. Rickus, D.M. Porterfield</div>
                <div class="gs_gray"><em>Nanotechnology</em> 22 (35), 355502<span class="gs_oph">, 2011</span></div>
            </td>
        </tr>
        <tr class="gsc_a_tr"><!--#13-->
            <td class="gsc_a_y" align="center">
                <span class="gsc_a_h">21</span>
            </td>
            <td class="gsc_a_t">
                <a href="http://works.bepress.com/cgi/viewcontent.cgi?article=1028&context=jonathan_claussen" class="gsc_a_at">Effects of Carbon Nanotube-Tethered Nanosphere Density on Amperometric Biosensing: Simulation and Experiment</a>
                <div class="gs_gray">J.C. Claussen, J.B. Hengenius, M.M. Wickner, T.S. Fisher, D.M. Umulis, D.M. Porterfield</div>
                <div class="gs_gray"><em>The Journal of Physical Chemistry C.</em> 115 (43), 20896–20904<span class="gs_oph">, 2011</span></div>
            </td>
        </tr>
        <tr class="gsc_a_tr"><!--#12-->
            <td class="gsc_a_y" align="center">
                <span class="gsc_a_h">20</span>
            </td>
            <td class="gsc_a_t">
                <a href="http://works.bepress.com/cgi/viewcontent.cgi?article=1022&context=jonathan_claussen" class="gsc_a_at">Bacterial Isolation by Lectin-Modified Microengines</a>
                <div class="gs_gray">S. Campuzano, J. Orozco, D. Kagan, M. Guix, W. Gao, S. Sattayasamitsathit, J.C. Claussen, A. Merkoci, J. Wang</div>
                <div class="gs_gray"><em>Nano Letters</em> 12 (1), 396-401<span class="gs_oph">, 2011</span></div>
            </td>
        </tr>
        <tr class="gsc_a_tr"><!--#11-->
            <td class="gsc_a_y" align="center">
                <span class="gsc_a_h">19</span>
            </td>
            <td class="gsc_a_t">
                <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3809036/" class="gsc_a_at">Multiplexed and switchable release of distinct fluids from microneedle platforms via conducting polymer nanoactuators for potential drug delivery</a>
                <div class="gs_gray">J.C. Claussen, G. Valdés-Ramírez, J.R. Windmiller, A.G. Martinez, F. Kuralay, M. Zhou, R. Narayan, J. Wang</div>
                <div class="gs_gray"><em>Sensors and Actuators B: Chemical</em> 161 (1), 1018-1024<span class="gs_oph">, 2012</span></div>
            </td>
        </tr>
        <tr class="gsc_a_tr"><!--#10-->
            <td class="gsc_a_y" align="center">
                <span class="gsc_a_h">18</span>
            </td>
            <td class="gsc_a_t">
                <a href="http://docs.lib.purdue.edu/cgi/viewcontent.cgi?article=2150&context=nanopub" class="gsc_a_at">Nanostructuring platinum nanoparticles on graphene petal nanosheets for electrochemical biosensing</a>
                <div class="gs_gray">J.C. Claussen, A. Kumar, D.B. Jaroch, M.H. Khawaja, A.B. Hibbard, D.M. Porterfield, T.S. Fisher</div>
                <div class="gs_gray"><em>Advanced Functional Materials</em> 22 (16), 3399-3405<span class="gs_oph">, 2012</span></div>
            </td>
        </tr>
        <tr class="gsc_a_tr"><!--#9-->
            <td class="gsc_a_y" align="center">
                <span class="gsc_a_h">17</span>
            </td>
            <td class="gsc_a_t">
                <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3477603/" class="gsc_a_at">Acoustic Droplet Vaporization and Propulsion of Perfluorocarbon‐Filled Microbullets for Targeted Tissue Penetration and Deformation</a>
                <div class="gs_gray">J.C. Claussen, D. Kagan, M.J. Benchimol, E. Chuluun‐Erdene, S. Esener, J. Wang</div>
                <div class="gs_gray"><em>Angewandte Chemie</em> 124 (30), 7637-7640<span class="gs_oph">, 2012</span></div>
            </td>
        </tr>
        <tr class="gsc_a_tr"><!--#8-->
            <td class="gsc_a_y" align="center">
                <span class="gsc_a_h">16</span>
            </td>
            <td class="gsc_a_t">
                <a href="http://works.bepress.com/cgi/viewcontent.cgi?article=1018&context=jonathan_claussen" class="gsc_a_at">Emerging technologies for non-invasive quantification of physiological oxygen transport in plants</a>
                <div class="gs_gray">P. Chaturvedi, M. Taguchi, S.L. Burrs, B.A. Hauser, W. Salim, J.C. Claussen, E. S. McLamore</div>
                <div class="gs_gray"><em>Planta</em> 238 (3), 599-614<span class="gs_oph">, 2013</span></div>
            </td>
        </tr>
        <tr class="gsc_a_tr"><!--#7-->
            <td class="gsc_a_y" align="center">
                <span class="gsc_a_h">15</span>
            </td>
            <td class="gsc_a_t">
                <a href="http://works.bepress.com/cgi/viewcontent.cgi?article=1020&context=jonathan_claussen" class="gsc_a_at">Biophotonic logic devices based on quantum dots and temporally-staggered Förster energy transfer relays</a>
                <div class="gs_gray">J.C. Claussen, W.R. Algar, N. Hildebrandt, K. Susumu, M.G. Ancona, I.L. Medintz</div>
                <div class="gs_gray"><em>Nanoscale</em> 5 (24), 12156-12170<span class="gs_oph">, 2013</span></div>
            </td>
        </tr>
        <tr class="gsc_a_tr"><!--#6-->
            <td class="gsc_a_y" align="center">
                <span class="gsc_a_h">14</span>
            </td>
            <td class="gsc_a_t">
                <a href="http://works.bepress.com/cgi/viewcontent.cgi?article=1016&context=jonathan_claussen" class="gsc_a_at">Complex Logic Functions Implemented with Quantum-Dot Bionanophotonic Circuits</a>
                <div class="gs_gray">J.C. Claussen, N. Hildebrandt, K. Susumu, M.G. Ancona, I.L. Medintz</div>
                <div class="gs_gray"><em>ACS Applied Materials & Interfaces</em> 6 (6), 3771–3778<span class="gs_oph">, 2013</span></div>
            </td>
        </tr>
        <tr class="gsc_a_tr"><!--#5-->
            <td class="gsc_a_y" align="center">
                <span class="gsc_a_h">13</span>
            </td>
            <td class="gsc_a_t">
                <a href="http://works.bepress.com/cgi/viewcontent.cgi?article=1014&context=jonathan_claussen" class="gsc_a_at">Nanomaterial-mediated biosensors for monitoring glucose</a>
                <div class="gs_gray">M. Taguchi, A. Ptitsyn, E.S. McLamore, J.C. Claussen</div>
                <div class="gs_gray"><em>Journal of diabetes science and technology</em> 8 (2), 403-411<span class="gs_oph">, 2014</span></div>
            </td>
        </tr>
        <tr class="gsc_a_tr"><!--#4-->
            <td class="gsc_a_y" align="center">
                <span class="gsc_a_h">12</span>
            </td>
            <td class="gsc_a_t">
                <a href="http://lib.dr.iastate.edu/cgi/viewcontent.cgi?article=1145&context=me_pubs" class="gsc_a_at">Platinum-paper micromotors: An urchin-like nanohybrid catalyst for green monopropellant bubble-thrusters</a>
                <div class="gs_gray">J.C. Claussen, M. A. Daniele, J. Gedder, M. Pruessner, Antti J. Mäkinen, B. Melde, Mark Twigg, Jasenka Verbarg, and Igor Medintza</div>
                <div class="gs_gray"><em>ACS Appl. Mater & Interfaces</em> – 6, 20<span class="gs_oph">, 2014</span></div>
            </td>
        </tr>
        <tr class="gsc_a_tr"><!--#3-->
            <td class="gsc_a_y" align="center">
                <span class="gsc_a_h">11</span>
            </td>
            <td class="gsc_a_t"> <!--May not have correct link for publication-->
                <a href="http://pubs.rsc.org/en/content/articlepdf/2014/ra/c4ra10580j?page=search" class="gsc_a_at">Three-dye dynamic DNA scaffolds for photonic switching and logic through fluorescence resonance energy transfer</a>
                <div class="gs_gray">S. Buckout-White, J.C. Claussen, M.G. Ancona, E. White, I.L. Medintz</div>
                <div class="gs_gray"><em>RSC Advances</em>, 4, 90<span class="gs_oph">, 2014</span></div>
            </td>
        </tr>
        <tr class="gsc_a_tr"><!--#2-->
            <td class="gsc_a_y" align="center">
                <span class="gsc_a_h">10</span>
            </td>
            <td class="gsc_a_t">
                <a href="http://works.bepress.com/cgi/viewcontent.cgi?article=1012&context=jonathan_claussen" class="gsc_a_at">Probing the Enzymatic Activity of Alkaline Phosphatase within Quantum Dot Bioconjugates</a>
                <div class="gs_gray">J.C. Claussen, A. Malanoski, J.C. Breger, E. Oh, S.A. Walper, K. Susumu, R. Goswami, J.R. Deschamps, I.L. Medintz</div>
                <div class="gs_gray"><em>The Journal of Physical Chemistry C.</em><span class="gs_oph">, 2015</span></div>
            </td>
        </tr>
        <tr class="gsc_a_tr"> <!--#1-->
            <td class="gsc_a_y" align="center">
                <span class="gsc_a_h">9</span>
            </td>
            <td class="gsc_a_t">
                <!--No link-->
                <u>Increasing the Activity of Immobilized Enzymes with Nanoparticle Conjugation</u>
                <div class="gs_gray">Shaowei Ding, Allison A. Cargill, Igor L. Medintz, Jonathan C. Claussen</div>
                <div class="gs_gray"><em>Curr. Opin. Biotechnol.</em><span class="gs_oph"> </span></div>
            </td>
        </tr>

            <!--Book Chapters-->
        <tr>
            <td></td>
            <td>
                <strong>Book Chapters</strong>
            </td>
        </tr>
        <tr class="gsc_a_tr"><!--#4-->
            <td class="gsc_a_y" align="center">
                <span class="gsc_a_h">8</span>
            </td>
            <td class="gsc_a_t">
                <!--No link-->
                    <div class="gs_gray">J.C. Claussen, J. Shi, A.R. Diggs, D.M. Porterfield, T.S. Fisher</div>
                    <div class="gs_gray">Electrochemical Biosensors of Carbon Nanotubes, <em>Nanomaterials for the Life Sciences</em>, Ch. 8 (pp. 187-217) Wiley-VCH, <span class="gs_oph">(2011), ISBN 978-3-527-32169-8</span></div>
            </td>
        </tr>
        <tr class="gsc_a_tr"><!--#3-->
            <td class="gsc_a_y" align="center">
                <span class="gsc_a_h">7</span>
            </td>
            <td class="gsc_a_t">
                <div class="gs_gray">J.C. Claussen, J. Shi, C.S. Rout, M.S. Artiles, M.M. Wickner, M.S. Stensberg, D.M. Porterfield, T.S. Fisher</div>
                <a href="https://scholar.google.com/citations?view_op=view_citation&hl=en&user=gJzQV6QAAAAJ&cstart=20&pagesize=80&citation_for_view=gJzQV6QAAAAJ:7PzlFSSx8tAC" class="gsc_a_at">"Nano-sized biosensors"</a>
                <div class="gs_gray"><em>Biosensors for Medical Applications</em>. Woodhead Publishing, <span class="gs_oph">(2012), ISBN 1 84569 935</span></div>
            </td>
        </tr>
        <tr class="gsc_a_tr"><!--#2-->
            <td class="gsc_a_y" align="center">
                <span class="gsc_a_h">6</span>
            </td>
            <td class="gsc_a_t">
                <div class="gs_gray">J.C. Claussen, I.L. Medintz</div>
                <a href="https://scholar.google.com/citations?view_op=view_citation&hl=en&user=gJzQV6QAAAAJ&cstart=20&pagesize=80&citation_for_view=gJzQV6QAAAAJ:qxL8FJ1GzNcC" class="gsc_a_at">"FRET-based cellular sensing with genetically encoded fluorescent indicators"</a>
                <div class="gs_gray"><em>FRET – Förster Resonance Energy Transfer. From Theory to Applications</em>.  Wiley-VCH, <span class="gs_oph">(2013), ISBN: 9783527656028</span></div>
            </td>
        </tr>
        <tr class="gsc_a_tr"><!--#1-->
            <td class="gsc_a_y" align="center">
                <span class="gsc_a_h">5</span>
            </td>
            <td class="gsc_a_t">
                <div class="gs_gray">M. Daniele, S. Campuzano, F. Kirilay, E.S. McLamore, Allison Cargill, Shaowei Ding, J.C. Claussen</div>
                <a href="https://scholar.google.com/citations?view_op=view_citation&hl=en&user=gJzQV6QAAAAJ&cstart=20&pagesize=80&citation_for_view=gJzQV6QAAAAJ:IWHjjKOFINEC" class="gsc_a_at">"Hybrid metallic nanoparticles: enhanced bioanalysis and biosensing via carbon nanotubes, graphene, and organic conjugation"</a>
                <div class="gs_gray"><em>Nanobiosensors and Nanobioanalyses.</em> Springer <span class="gs_oph"> (In Press)</span></div>
            </td>
        </tr>
            <!--Conference Proceedings-->
        <tr>
            <td></td>
            <td>
                <strong>Conference Proceedings</strong>
            </td>
        </tr>
        <tr class="gsc_a_tr">
            <td class="gsc_a_y" align="center">
                <span class="gsc_a_h">4</span>
            </td>
            <td class="gsc_a_t">
                <div class="gs_gray">J.C. Claussen, W. R. Algar, N. Hildebrandt, K. Susumu, M. G. Ancona, I.L. Medintz, </div>
                <a href="http://proceedings.spiedigitallibrary.org/UserControls/#" class="gsc_a_at">"Enhancing molecular logic through modulation of temporal and spatial constraints with quantum dot-based systems that use fluorescent (förster) resonance energy transfer"</a>
                <div class="gs_gray"><em>SPIE Nanoscience & Engineering Meeting</em>, San Diego, CA. <span class="gs_oph"> (2013)</span></div>
            </td>
        </tr>
        <tr class="gsc_a_tr">
            <td class="gsc_a_y" align="center">
                <span class="gsc_a_h">3</span>
            </td>
            <td class="gsc_a_t">
                <div class="gs_gray">J.C. Claussen, A. ul Haque, T.S. Fisher, M.D. Porterfield, </div>
                <a href="http://journals.cambridge.org/action/displayFulltext?type=1&fid=7972254&jid=OPL&volumeId=1236&issueId=-1&aid=7972252&bodyId=&membershipNumber=&societyETOCSession=" class="gsc_a_at">“Biosensor capture kinetics model of nanocube-augmented carbon nanotube networks,”</a>
                <div class="gs_gray"> <em>Materials Research Society Conference</em>, Boston, MA <span class="gs_oph"> (2009).</span></div>
            </td>
        </tr>
            <!--Research Reports-->
        <tr>
            <td></td>
            <td>
                <strong>Research Reports</strong>
            </td>
        </tr>
        <tr class="gsc_a_tr">
            <td class="gsc_a_y" align="center">
                <span class="gsc_a_h">2</span>
            </td>
            <td class="gsc_a_t">
                <div class="gs_gray">J.C. Claussen, I.L. Medintz</div>
                <a href="http://omicsonline.org/2153-0777/2153-0777-2-e117.php" class="gsc_a_at">“Using Nanotechnology to Improve Lab on a Chip Devices”</a>
                <div class="gs_gray"><em>J. Biochip Tissue Chip.</em>, <span class="gs_oph">(2012), DOI: 10.4172/2153-0777.1000e117</span></div>
            </td>
        </tr>
        <tr class="gsc_a_tr">
            <td class="gsc_a_y" align="center">
                <span class="gsc_a_h">1</span>
            </td>
            <td class="gsc_a_t">
                <div class="gs_gray">J.C. Claussen</div>
                <a href="http://spie.org/documents/Newsroom/Imported/005030/005030_10.pdf" class="gsc_a_at">"Nanoparticle biosensor for noninvasive glucose sensing."</a>
                <div class="gs_gray">Sensing & Measurements, <em>SPIE Newsroom – Nanotechnology</em> <span class="gs_oph">(2013), DOI: 10.1117/2.1201308.005030</span></div>
            </td>
        </tr>
    </tbody>
</table>

</div><!--class="gsc_lcl" role="complementary" id="gsc_art"-->
</div><!--class="container"-->
</section>
