<!-- About Section -->
    <section id="Publications">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Publications</h2>
                </div>
            </div> <!--this end of div "row" was missing from the document-->

<div class="gsc_rsb_s">

<!--For organizing by Title, Cited by, and Year

<div id="gsc_rsb_t">Google Scholar</div>
  
<table id="gsc_rsb_st">
<tr>
    <th class="gsc_rsb_sc1">
        <a href="javascript:void(0)" onclick="gs_md_hist_opn(event);">Citation indices</a>
    </th>
    <th class="gsc_rsb_sth">All</th>
    <th class="gsc_rsb_sth">Since 2010</th>
</tr>
<tr>
    <td class="gsc_rsb_sc1"><a href="javascript:void(0)" class="gsc_rsb_f" title='This is the number of citations to all publications. The second column has the "recent" version of this metric which is the number of new citations in the last 5 years to all publications.'>Citations</a></td>
    <td class="gsc_rsb_std">670</td>
    <td class="gsc_rsb_std">659</td>
</tr>
<tr>
    <td class="gsc_rsb_sc1"><a href="javascript:void(0)" class="gsc_rsb_f" title='h-index is the largest number h such that h publications have at least h citations. The second column has the "&quot;"recent" version of this metric which is the largest number h such that h publications have at least h new citations in the last 5 years.'>h-index</a></td>
    <td class="gsc_rsb_std">14</td>
    <td class="gsc_rsb_std">13</td>
</tr>
<tr>
    <td class="gsc_rsb_sc1"><a href="javascript:void(0)" class="gsc_rsb_f" title='i10-index is the number of publications with at least 10 citations. The second column has the "recent" version of this metric which is the number of publications that have received at least 10 new citations in the last 5 years.'>i10-index</a></td>
    <td class="gsc_rsb_std">16</td>
    <td class="gsc_rsb_std">16</td>
</tr>
</table>

<div id="gsc_g"><div id="gsc_g_x">
 <script>function gs_md_hist_opn(e){gs_md_ldw("gsc_md_hist",e,0,"gsc_md_hist_c","/citations?hl\x3den\x26user\x3dgJzQV6QAAAAJ\x26view_op\x3dcitations_histogram","",function(){var x=gs_id("gsc_md_hist_b");x&&gsc_scroll_right(x);});}gs_evt_rdy(function(){gs_evt_clk(gs_id("gsc_g"),gs_md_hist_opn);});</script>
</div>
-->

    <!--Contributing Authors-->
    <div class="gsc_rsb_s" id="gsc_rsb_co">
        <h3 class="gsc_rsb_h">Co-authors<a class="gsc_rsb_lc" href="https://scholar.google.com/citations?view_op=list_colleagues&amp;hl=en&amp;user=gJzQV6QAAAAJ">View all</a></h3>
        <ul class="gsc_rsb_a">
            <li><a class="gsc_rsb_aa" href="https://scholar.google.com/citations?user=ImCQugUAAAAJ&amp;hl=en">D. Marshall Porterfield</a>
                <span class="gsc_rsb_sp">,</span></li>
            <li><a class="gsc_rsb_aa" href="https://scholar.google.com/citations?user=k36VHW8AAAAJ&amp;hl=en">Timothy S Fisher</a>
                <span class="gsc_rsb_sp">,</span></li>
            <li><a class="gsc_rsb_aa" href="https://scholar.google.com/citations?user=OZtBFywAAAAJ&amp;hl=en">Eric McLamore</a>
                <span class="gsc_rsb_sp">,</span></li>
            <li><a class="gsc_rsb_aa" href="https://scholar.google.com/citations?user=AOE8PAIAAAAJ&amp;hl=en">Jenna Rickus</a>
                <span class="gsc_rsb_sp">,</span></li>
            <li><a class="gsc_rsb_aa" href="https://scholar.google.com/citations?user=uHctVGQAAAAJ&amp;hl=en">Aeraj Haque</a>
                <span class="gsc_rsb_sp">,</span></li>
            <li><a class="gsc_rsb_aa" href="https://scholar.google.com/citations?user=QIhJ1DQAAAAJ&amp;hl=en">Aaron Franklin</a>
                <span class="gsc_rsb_sp">,</span></li>
            <li><a class="gsc_rsb_aa" href="https://scholar.google.com/citations?user=0DEykT4AAAAJ&amp;hl=en">Joseph Wang</a>
                <span class="gsc_rsb_sp">,</span></li>
            <li><a class="gsc_rsb_aa" href="https://scholar.google.com/citations?user=6JZOFsMAAAAJ&amp;hl=en">Wei Gao</a>
                <span class="gsc_rsb_sp">,</span></li>
            <li><a class="gsc_rsb_aa" href="https://scholar.google.com/citations?user=GuHy-a0AAAAJ&amp;hl=en">Sirilak Sattayasamitsathit</a>
                <span class="gsc_rsb_sp">,</span></li>
            <li><a class="gsc_rsb_aa" href="https://scholar.google.com/citations?user=736q15MAAAAJ&amp;hl=en">Jahir Orozco</a>
                <span class="gsc_rsb_sp">,</span></li>
            <li><a class="gsc_rsb_aa" href="https://scholar.google.com/citations?user=hF6hPeIAAAAJ&amp;hl=en">Arben Merkoçi</a>
                <span class="gsc_rsb_sp">,</span></li>
            <li><a class="gsc_rsb_aa" href="https://scholar.google.com/citations?user=VdSwFAQAAAAJ&amp;hl=en">Maria Guix</a>
                <span class="gsc_rsb_sp">,</span></li>
            <li><a class="gsc_rsb_aa" href="https://scholar.google.com/citations?user=sf-hnTIAAAAJ&amp;hl=en">Tae Gon Cha</a>
                <span class="gsc_rsb_sp">,</span></li>
            <li><a class="gsc_rsb_aa" href="https://scholar.google.com/citations?user=nAbeE7sAAAAJ&amp;hl=en">Shawn Donkin</a>
                <span class="gsc_rsb_sp">,</span></li>
            <li><a class="gsc_rsb_aa" href="https://scholar.google.com/citations?user=vDskzlMAAAAJ&amp;hl=en">Wen Zhang</a>
                <span class="gsc_rsb_sp">,</span></li>
            <li><a class="gsc_rsb_aa" href="https://scholar.google.com/citations?user=m8-MzrUAAAAJ&amp;hl=en">Masashige Taguchi</a>
                <span class="gsc_rsb_sp">,</span></li>
            <li><a class="gsc_rsb_aa" href="https://scholar.google.com/citations?user=AD2tl2UAAAAJ&amp;hl=en">David M Umulis</a>
                <span class="gsc_rsb_sp">,</span></li>
            <li><a class="gsc_rsb_aa" href="https://scholar.google.com/citations?user=zX86aN4AAAAJ&amp;hl=en">Prachee Chaturvedi</a>
                <span class="gsc_rsb_sp">,</span></li>
            <li><a class="gsc_rsb_aa" href="https://scholar.google.com/citations?user=7hmQ9k4AAAAJ&amp;hl=en">Stephanie Burrs</a>
                <span class="gsc_rsb_sp">,</span></li>
            <li><a class="gsc_rsb_aa" href="https://scholar.google.com/citations?user=cMbi45cAAAAJ&amp;hl=en">Ming Zhou</a></li>
            <li class="gsc_rsb_fade"></li>
        </ul>
    </div>
</div>
 
 <!--Actual Publications-->      
<div class="gsc_lcl" role="complementary" id="gsc_art">
    <form method="post" action="https://scholar.google.com/citations?hl=en&amp;user=gJzQV6QAAAAJ&amp;view_op=list_works" id="citationsForm">
    <input type="hidden" name="xsrf" value="AMstHGQAAAAAVRrkVJFpcSdHjQBLjlbISyGrAISHugaj">
<table id="gsc_a_t" align="center">
    <thead id="gsc_a_hd">
        <tr id="gsc_a_tr0" aria-hidden="true">
            <th class="gsc_a_t" id="gsc_a_tr0_t"></th>
            <th class="gsc_a_c"></th>
            <th class="gsc_a_y"></th>
        </tr>
        <tr id="gsc_a_trh">
            <th class="gsc_a_t" id="gsc_a_trh_t" scope="col">
                <span id="gsc_a_ta">Title</span>
            </th>
            <th class="gsc_a_c" scope="col">
                <span id="gsc_a_ca">Impact Factor 2013</span>
            </th>
            <th class="gsc_a_y" scope="col">
                <span class="gsc_a_h">Year</span>
            </th>
        </tr>
    </thead>
    <tbody id="gsc_a_b">
        <tr class="gsc_a_tr"> <!--#1-->
            <td class="gsc_a_t">
                <a href="#" class="gsc_a_at">Increasing the Activity of Immobilized Enzymes with Nanoparticle Conjugation</a>
                <div class="gs_gray">Shaowei Ding, Allison A. Cargill, Igor L. Medintz, Jonathan C. Claussen</div>
                <div class="gs_gray">Curr. Opin. Biotechnol.<span class="gs_oph"> </span></div>
            </td>
            <td class="gsc_a_c">
                <span>8.035</span>
            </td>
            <td class="gsc_a_y">
                <span class="gsc_a_h">In Review</span>
            </td>
        </tr>
        <tr class="gsc_a_tr"><!--#3-->
            <td class="gsc_a_t"> <!--May not have correct link for publication-->
                <a href="http://pubs.rsc.org/en/content/articlepdf/2014/ra/c4ra10580j?page=search" class="gsc_a_at">Three-dye dynamic DNA scaffolds for photonic switching and logic through fluorescence resonance energy transfer</a>
                <div class="gs_gray">S. Buckout-White, **J.C. Claussen**, M.G. Ancona, E. White, I.L. Medintz</div>
                <div class="gs_gray">RSC Advances*, 4, 90<span class="gs_oph">, 2014</span></div>
            </td>
            <td class="gsc_a_c">
                <span>3.708</span>
            </td>
            <td class="gsc_a_y">
                <span class="gsc_a_h">2014</span>
            </td>
        </tr>
        <tr class="gsc_a_tr"><!--#4-->
            <td class="gsc_a_t">
                <a href="http://works.bepress.com/jonathan_claussen/6" class="gsc_a_at">Platinum-paper micromotors: An urchin-like nanohybrid catalyst for green monopropellant bubble-thrusters</a>
                <div class="gs_gray">J.C. Claussen, M. A. Daniele, J. Gedder, M. Pruessner, Antti J. Mäkinen, B. Melde, Mark Twigg, Jasenka Verbarg, and Igor Medintza</div>
                <div class="gs_gray">ACS Appl. Mater & Interfaces – 6, 20<span class="gs_oph">, 2014</span></div>
            </td>
            <td class="gsc_a_c">
                <span>5.900</span>
            </td>
            <td class="gsc_a_y">
                <span class="gsc_a_h">2014</span>
            </td>
        </tr>
        <tr class="gsc_a_tr"><!--#22-->
            <td class="gsc_a_t">
                <a href="http://works.bepress.com/jonathan_claussen/2" class="gsc_a_at">Electrochemical biosensor of nanocube-augmented carbon nanotube networks</a>
                <div class="gs_gray">JC Claussen, AD Franklin, A ul Haque, DM Porterfield, TS Fisher</div>
                <div class="gs_gray">ACS Nano 3 (1), 37-44<span class="gs_oph">, 2009</span></div>
            </td>
            <td class="gsc_a_c">
                <span>12.033</span>
            </td>
            <td class="gsc_a_y">
                <span class="gsc_a_h">2009</span>
            </td>
        </tr>
        <tr class="gsc_a_tr"><!--#12-->
            <td class="gsc_a_t">
                <a href="http://works.bepress.com/jonathan_claussen/17" class="gsc_a_at">Bacterial Isolation by Lectin-Modified Microengines</a>
                <div class="gs_gray">S. Campuzano, J. Orozco, D. Kagan, M. Guix, W. Gao, S. Sattayasamitsathit, J.C. Claussen, A. Merkoci, J. Wang</div>
                <div class="gs_gray">Nano Letters 12 (1), 396-401<span class="gs_oph">, 2011</span></div>
            </td>
            <td class="gsc_a_c">
                <span>12.940</span>
            </td>
            <td class="gsc_a_y">
                <span class="gsc_a_h">2011</span>
            </td>
        </tr>
        <tr class="gsc_a_tr"><!--#10-->
            <td class="gsc_a_t">
                <a href="http://works.bepress.com/jonathan_claussen/10" class="gsc_a_at">Nanostructuring platinum nanoparticles on graphene petal nanosheets for electrochemical biosensing</a>
                <div class="gs_gray">J.C. Claussen, A. Kumar, D.B. Jaroch, M.H. Khawaja, A.B. Hibbard, D.M. Porterfield, T.S. Fisher</div>
                <div class="gs_gray">Advanced Functional Materials 22 (16), 3399-3405<span class="gs_oph">, 2012</span></div>
            </td>
            <td class="gsc_a_c">
                <span>10.493</span>
            </td>
            <td class="gsc_a_y">
                <span class="gsc_a_h">2012</span>
            </td>
        </tr>
        <tr class="gsc_a_tr"><!--#9-->
            <td class="gsc_a_t">
                <a href="https://scholar.google.com/citations?view_op=view_citation&hl=en&user=gJzQV6QAAAAJ&citation_for_view=gJzQV6QAAAAJ:0EnyYjriUFMC" class="gsc_a_at">Acoustic Droplet Vaporization and Propulsion of Perfluorocarbon‐Filled Microbullets for Targeted Tissue Penetration and Deformation</a>
                <div class="gs_gray">J.C. Claussen, D. Kagan, M.J. Benchimol, E. Chuluun‐Erdene, S. Esener, J. Wang</div>
                <div class="gs_gray">Angewandte Chemie 124 (30), 7637-7640<span class="gs_oph">, 2012</span></div>
            </td>
            <td class="gsc_a_c">
                <span>11.336</span>
            </td>
            <td class="gsc_a_y">
                <span class="gsc_a_h">2012</span>
            </td>
        </tr>
        <tr class="gsc_a_tr"><!--#18-->
            <td class="gsc_a_t">
                <a href="http://www.sciencedirect.com/science/article/pii/S095656631000655X" class="gsc_a_at">A self-referencing platinum nanoparticle decorated enzyme-based microbiosensor for real-time measurement of physiological glucose transport</a>
                <div class="gs_gray">E.S. McLamore, J. Shi, D. Jaroch, J.C. Claussen, A. Uchida, Y. Jiang, W. Zhang, M.K. Banks, K.K. Buhman, D. Teegarden, J.L. Rickus, D.M. Porterfield</div>
                <div class="gs_gray">Biosensors and Bioelectronics 26 (5), 2237-2245<span class="gs_oph">, 2011</span></div>
            </td>
            <td class="gsc_a_c">
                <span>6.451</span>
            </td>
            <td class="gsc_a_y">
                <span class="gsc_a_h">2011</span>
            </td>
        </tr>
        <tr class="gsc_a_tr"><!--#21-->
            <td class="gsc_a_t">
                <a href="https://scholar.google.com/citations?view_op=view_citation&hl=en&user=gJzQV6QAAAAJ&citation_for_view=gJzQV6QAAAAJ:u-x6o8ySG0sC" class="gsc_a_at">A self-referencing glutamate biosensor for measuring real-time neuronal glutamate flux</a>
                <div class="gs_gray">E.S. McLamore, S. Mohanty, J. Shi, J. Claussen, J.L. Rickus, S. Jedlicka, D.M. Porterfield</div>
                <div class="gs_gray">Journal of Neuroscience Methods 189 (1), 14-22<span class="gs_oph">, 2010</span></div>
            </td>
            <td class="gsc_a_c">
                <span>1.959</span>
            </td>
            <td class="gsc_a_y">
                <span class="gsc_a_h">2010</span>
            </td>
        </tr>
        <tr class="gsc_a_tr"><!--#16-->
            <td class="gsc_a_t">
                <a href="http://works.bepress.com/jonathan_claussen/5" class="gsc_a_at">Microbiosensors based on DNA modified single-walled carbon nanotube and Pt black nanocomposites</a>
                <div class="gs_gray">J Shi, TG Cha, JC Claussen, AR Diggs, JH Choi, DM Porterfield</div>
                <div class="gs_gray">Analyst 136 (23), 4916-4924<span class="gs_oph">, 2011</span></div>
            </td>
            <td class="gsc_a_c">
                <span>3.906</span>
            </td>
            <td class="gsc_a_y">
                <span class="gsc_a_h">2011</span>
            </td>
        </tr>
        <tr class="gsc_a_tr"><!--#14-->
            <td class="gsc_a_t">
                <a href="http://works.bepress.com/jonathan_claussen/3" class="gsc_a_at">A comparative study of enzyme immobilization strategies for multi-walled carbon nanotube glucose biosensors</a>
                <div class="gs_gray">J. Shi, J.C. Claussen, E.S. McLamore, A. ul Haque, D. Jaroch, A.R. Diggs, P. Calvo-Marzal, J. L. Rickus, D.M. Porterfield</div>
                <div class="gs_gray">Nanotechnology 22 (35), 355502<span class="gs_oph">, 2011</span></div>
            </td>
            <td class="gsc_a_c">
                <span>3.672</span>
            </td>
            <td class="gsc_a_y">
                <span class="gsc_a_h">2011</span>
            </td>
        </tr>
        <tr class="gsc_a_tr"><!--#20-->
            <td class="gsc_a_t">
                <a href="https://scholar.google.com/citations?view_op=view_citation&hl=en&user=gJzQV6QAAAAJ&citation_for_view=gJzQV6QAAAAJ:9yKSN-GCB0IC" class="gsc_a_at">Electrochemical glucose biosensor of platinum nanospheres connected by carbon nanotubes</a>
                <div class="gs_gray">JC Claussen, SS Kim, A ul Haque, MS Artiles, DM Porterfield, TS Fisher</div>
                <div class="gs_gray">Journal of Diabetes Science and Technology 4 (2), 312<span class="gs_oph">, 2010</span></div>
            </td>
            <td class="gsc_a_c">
                <span></span>
            </td>
            <td class="gsc_a_y">
                <span class="gsc_a_h">2010</span>
            </td>
        </tr>
        <tr class="gsc_a_tr"><!--#15-->
            <td class="gsc_a_t">
                <a href="http://works.bepress.com/jonathan_claussen/19" class="gsc_a_at">Electrochemical glutamate biosensing with nanocube and nanosphere augmented single-walled carbon nanotube networks: a comparative study</a>
                <div class="gs_gray">J.C. Claussen, M.S. Artiles, E.S. McLamore, S. Mohanty, J. Shi, J.L. Rickus, T.S. Fisher, D.M. Porterfield</div>
                <div class="gs_gray">Journal of Materials Chemistry 21 (30), 11224-11231<span class="gs_oph">, 2011</span></div>
            </td>
            <td class="gsc_a_c">
                <span>6.626</span>
            </td>
            <td class="gsc_a_y">
                <span class="gsc_a_h">2011</span>
            </td>
        </tr>
        <tr class="gsc_a_tr"><!--#17-->
            <td class="gsc_a_t">
                <a href="http://works.bepress.com/jonathan_claussen/4" class="gsc_a_at">Transforming the fabrication and biofunctionalization of gold nanoelectrode arrays into versatile electrochemical glucose biosensors</a>
                <div class="gs_gray">JC Claussen, M Wickner, TS Fisher, DM Porterfield</div>
                <div class="gs_gray">ACS Applied Materials &amp; Interfaces 3 (5), 1765–1770<span class="gs_oph">, 2011</span></div>
            </td>
            <td class="gsc_a_c">
                <span>5.900</span>
            </td>
            <td class="gsc_a_y">
                <span class="gsc_a_h">2011</span>
            </td>
        </tr>
        <tr class="gsc_a_tr"><!--#19-->
            <td class="gsc_a_t">
                <a href="http://works.bepress.com/jonathan_claussen/1" class="gsc_a_at">Oscillatory glucose flux in INS1 pancreatic Beta cells: a self-referencing microbiosensor study</a>
                <div class="gs_gray">J Shi, ES McLamore, D Jaroch, JC Claussen, JL Rickus, DM Porterfield</div>
                <div class="gs_gray">Analytical Biochemistry 411 (2), 185–193<span class="gs_oph">, 2010</span></div>
            </td>
            <td class="gsc_a_c">
                <span>2.305</span>
            </td>
            <td class="gsc_a_y">
                <span class="gsc_a_h">2010</span>
            </td>
        </tr>
        <tr class="gsc_a_tr"><!--#23-->
            <td class="gsc_a_t">
                <a href="http://works.bepress.com/jonathan_claussen/9" class="gsc_a_at">Independently addressable fields of porous anodic alumina embedded in SiO2 on Si</a>
                <div class="gs_gray">AD Franklin, DB Janes, JC Claussen, TS Fisher, TD Sands</div>
                <div class="gs_gray">Applied Physics Letters 92 (1), 013122-013122-3<span class="gs_oph">, 2008</span></div>
            </td>
            <td class="gsc_a_c">
                <span>3.515</span>
            </td>
            <td class="gsc_a_y">
                <span class="gsc_a_h">2008</span>
            </td>
        </tr>
        <tr class="gsc_a_tr"><!--#7-->
            <td class="gsc_a_t">
                <a href="http://works.bepress.com/jonathan_claussen/16" class="gsc_a_at">Biophotonic logic devices based on quantum dots and temporally-staggered Förster energy transfer relays</a>
                <div class="gs_gray">J.C. Claussen, W.R. Algar, N. Hildebrandt, K. Susumu, M.G. Ancona, I.L. Medintz</div>
                <div class="gs_gray">Nanoscale 5 (24), 12156-12170<span class="gs_oph">, 2013</span></div>
            </td>
            <td class="gsc_a_c">
                <span>6.739</span>
            </td>
            <td class="gsc_a_y">
                <span class="gsc_a_h">2013</span>
            </td>
        </tr>
        <tr class="gsc_a_tr"><!--#13-->
            <td class="gsc_a_t">
                <a href="http://works.bepress.com/jonathan_claussen/20" class="gsc_a_at">Effects of Carbon Nanotube-Tethered Nanosphere Density on Amperometric Biosensing: Simulation and Experiment</a>
                <div class="gs_gray">J.C. Claussen, J.B. Hengenius, M.M. Wickner, T.S. Fisher, D.M. Umulis, D.M. Porterfield</div>
                <div class="gs_gray">The Journal of Physical Chemistry C 115 (43), 20896–20904<span class="gs_oph">, 2011</span></div>
            </td>
            <td class="gsc_a_c">
                <span>4.385</span>
            </td>
            <td class="gsc_a_y">
                <span class="gsc_a_h">2011</span>
            </td>
        </tr>
        <tr class="gsc_a_tr"><!--#6-->
            <td class="gsc_a_t">
                <a href="http://works.bepress.com/jonathan_claussen/14" class="gsc_a_at">Complex Logic Functions Implemented with Quantum-Dot Bionanophotonic Circuits</a>
                <div class="gs_gray">JC Claussen, N Hildebrandt, K Susumu, MG Ancona, IL Medintz</div>
                <div class="gs_gray">ACS Applied Materials & Interfaces 6 (6), 3771–3778<span class="gs_oph">, 2013</span></div>
            </td>
            <td class="gsc_a_c">
                <span>5.900</span>
            </td>
            <td class="gsc_a_y">
                <span class="gsc_a_h">2013</span>
            </td>
        </tr>
        <tr class="gsc_a_tr"><!--#11-->
            <td class="gsc_a_t"> <!--Check author F. Kuralay / F. Kirilay-->
                <a href="https://scholar.google.com/citations?view_op=view_citation&hl=en&user=gJzQV6QAAAAJ&citation_for_view=gJzQV6QAAAAJ:LkGwnXOMwfcC" class="gsc_a_at">Multiplexed and switchable release of distinct fluids from microneedle platforms via conducting polymer nanoactuators for potential drug delivery</a>
                <div class="gs_gray">J.C. Claussen, G. Valdés-Ramírez, J.R. Windmiller, A.G. Martinez, F. Kuralay, M. Zhou, R. Narayan, J. Wang</div>
                <div class="gs_gray">Sensors and Actuators B: Chemical 161 (1), 1018-1024<span class="gs_oph">, 2012</span></div>
            </td>
            <td class="gsc_a_c">
                <span>3.840</span>
            </td>
            <td class="gsc_a_y">
                <span class="gsc_a_h">2012</span>
            </td>
        </tr>
        <tr class="gsc_a_tr"><!--#5-->
            <td class="gsc_a_t">
                <a href="http://works.bepress.com/jonathan_claussen/13" class="gsc_a_at">Nanomaterial-mediated biosensors for monitoring glucose</a>
                <div class="gs_gray">M Taguchi, A Ptitsyn, ES McLamore, JC Claussen</div>
                <div class="gs_gray">Journal of diabetes science and technology 8 (2), 403-411<span class="gs_oph">, 2014</span></div>
            </td>
            <td class="gsc_a_c">
                <span>N/A</span>
            </td>
            <td class="gsc_a_y">
                <span class="gsc_a_h">2014</span>
            </td>
        </tr>
        <tr class="gsc_a_tr"><!--#8-->
            <td class="gsc_a_t">
                <a href="http://works.bepress.com/jonathan_claussen/15" class="gsc_a_at">Emerging technologies for non-invasive quantification of physiological oxygen transport in plants</a>
                <div class="gs_gray">P. Chaturvedi, M. Taguchi, S.L. Burrs, B.A. Hauser, W. Salim, J.C. Claussen, E. S. McLamore</div>
                <div class="gs_gray">Planta 238 (3), 599-614<span class="gs_oph">, 2013</span></div>
            </td>
            <td class="gsc_a_c">
                <span>3.376</span>
            </td>
            <td class="gsc_a_y">
                <span class="gsc_a_h">2013</span>
            </td>
        </tr>
        <tr class="gsc_a_tr"><!--#2-->
            <td class="gsc_a_t">
                <a href="http://works.bepress.com/jonathan_claussen/12" class="gsc_a_at">Probing the Enzymatic Activity of Alkaline Phosphatase within Quantum Dot Bioconjugates</a>
                <div class="gs_gray">J.C. Claussen, A. Malanoski, J.C. Breger, E. Oh, S.A. Walper, K. Susumu, R. Goswami, J.R. Deschamps, I.L. Medintz</div>
                <div class="gs_gray">The Journal of Physical Chemistry C<span class="gs_oph">, 2015</span></div>
            </td>
            <td class="gsc_a_c">
                <span>4.835</span>
            </td>
            <td class="gsc_a_y">
                <span class="gsc_a_h">2015</span>
            </td>
        </tr>
    </tbody>
</table>
<div id="gsc_a_sp" style="display:none"></div>
<div id="gsc_a_err" class="gs_alrt" style="display:none">The system can&#39;t perform the operation now. Try again later.</div>
<div id="gsc_lwp">
<div id="gsc_bpf">
    <button type="button" id="gsc_bpf_prev" disabled class="gs_btnPL gs_in_ib gs_btn_half gs_btn_slt gs_dis">
    <span class="gs_wr">
    <span class="gs_lbl"></span>
    <span class="gs_ico gs_ico_dis"></span></span>
    </button>
</div>                       
</div>             
</div>
</section>
