<!-- About Section -->
    <section id="Publications">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading"><a href="https://scholar.google.com/citations?hl=en&user=gJzQV6QAAAAJ&view_op=list_works&sortby=pubdate">Publications</a></h2>
                </div>
            </div> <!--this end of div "row" was missing from the document-->

<!--Actual Publications-->

<div class="publ-list">
    <ol class="indenter">
        <h5>Journal Articles</h5>
        <li>
            <p><u>Increasing the Activity of Immobilized Enzymes with Nanoparticle Conjugation</u></p>
            <p>Shaowei Ding, Allison A. Cargill, Igor L. Medintz, Jonathan C. Claussen</p>
            <p><em>Curr. Opin. Biotechnol.</em>, In Review</p>
        </li>
        <li>
            <p><a href="http://works.bepress.com/cgi/viewcontent.cgi?article=1012&context=jonathan_claussen" class="gsc_a_at">Probing the Enzymatic Activity of Alkaline Phosphatase within Quantum Dot Bioconjugates</a></p>
            <p>J.C. Claussen, A. Malanoski, J.C. Breger, E. Oh, S.A. Walper, K. Susumu, R. Goswami, J.R. Deschamps, I.L. Medintz</p>
            <p><em>The Journal of Physical Chemistry C.</em>, 2015</p>
        </li>
        <li>
            <p><a href="http://pubs.rsc.org/en/content/articlepdf/2014/ra/c4ra10580j?page=search" class="gsc_a_at">Three-dye dynamic DNA scaffolds for photonic switching and logic through fluorescence resonance energy transfer</a></p>
            <p>S. Buckout-White, J.C. Claussen, M.G. Ancona, E. White, I.L. Medintz</p>
            <p><em>RSC Advances</em>, 4, 90, 2014</p>
        </li>
        <li>
            <p><a href="http://lib.dr.iastate.edu/cgi/viewcontent.cgi?article=1145&context=me_pubs" class="gsc_a_at">Platinum-paper micromotors: An urchin-like nanohybrid catalyst for green monopropellant bubble-thrusters</a></p>
            <p>J.C. Claussen, M. A. Daniele, J. Gedder, M. Pruessner, Antti J. Mäkinen, B. Melde, Mark Twigg, Jasenka Verbarg, and Igor Medintza</p>
            <p><em>ACS Appl. Mater & Interfaces</em> – 6, 20, 2014</p>
        </li>
        <li>
            <p><a href="http://works.bepress.com/cgi/viewcontent.cgi?article=1014&context=jonathan_claussen" class="gsc_a_at">Nanomaterial-mediated biosensors for monitoring glucose</a></p>
            <p>M. Taguchi, A. Ptitsyn, E.S. McLamore, J.C. Claussen</p>
            <p><em>Journal of diabetes science and technology</em> 8 (2), 403-411, 2014</p>
        </li>
        <li>
            <p><a href="http://works.bepress.com/cgi/viewcontent.cgi?article=1016&context=jonathan_claussen" class="gsc_a_at">Complex Logic Functions Implemented with Quantum-Dot Bionanophotonic Circuits</a></p>
            <p>J.C. Claussen, N. Hildebrandt, K. Susumu, M.G. Ancona, I.L. Medintz</p>
            <p><em>ACS Applied Materials & Interfaces</em> 6 (6), 3771–3778, 2013</p>
        </li>
        <li>
            <p><a href="http://works.bepress.com/cgi/viewcontent.cgi?article=1020&context=jonathan_claussen" class="gsc_a_at">Biophotonic logic devices based on quantum dots and temporally-staggered Förster energy transfer relays</a></p>
            <p>J.C. Claussen, W.R. Algar, N. Hildebrandt, K. Susumu, M.G. Ancona, I.L. Medintz</p>
            <p><em>Nanoscale</em> 5 (24), 12156-12170, 2013</p>
        </li>
        <li>
            <p><a href="http://works.bepress.com/cgi/viewcontent.cgi?article=1018&context=jonathan_claussen" class="gsc_a_at">Emerging technologies for non-invasive quantification of physiological oxygen transport in plants</a></p>
            <p>P. Chaturvedi, M. Taguchi, S.L. Burrs, B.A. Hauser, W. Salim, J.C. Claussen, E. S. McLamore</p>
            <p><em>Planta</em> 238 (3), 599-614, 2013</p>
        </li>
        <li>
            <p><a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3477603/" class="gsc_a_at">Acoustic Droplet Vaporization and Propulsion of Perfluorocarbon‐Filled Microbullets for Targeted Tissue Penetration and Deformation</a></p>
            <p>J.C. Claussen, D. Kagan, M.J. Benchimol, E. Chuluun‐Erdene, S. Esener, J. Wang</p>
            <p><em>Angewandte Chemie</em> 124 (30), 7637-7640, 2012</p>
        </li>
        <li>
            <p><a href="http://docs.lib.purdue.edu/cgi/viewcontent.cgi?article=2150&context=nanopub" class="gsc_a_at">Nanostructuring platinum nanoparticles on graphene petal nanosheets for electrochemical biosensing</a></p>
            <p>J.C. Claussen, A. Kumar, D.B. Jaroch, M.H. Khawaja, A.B. Hibbard, D.M. Porterfield, T.S. Fisher</p>
            <p><em>Advanced Functional Materials</em> 22 (16), 3399-3405, 2012</p>
        </li>
        <li>
            <p><a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3809036/" class="gsc_a_at">Multiplexed and switchable release of distinct fluids from microneedle platforms via conducting polymer nanoactuators for potential drug delivery</a></p>
            <p>J.C. Claussen, G. Valdés-Ramírez, J.R. Windmiller, A.G. Martinez, F. Kuralay, M. Zhou, R. Narayan, J. Wang</p>
            <p><em>Sensors and Actuators B: Chemical</em> 161 (1), 1018-1024, 2012</p>
        </li>
        <li>
            <p><a href="http://works.bepress.com/cgi/viewcontent.cgi?article=1022&context=jonathan_claussen" class="gsc_a_at">Bacterial Isolation by Lectin-Modified Microengines</a></p>
            <p>S. Campuzano, J. Orozco, D. Kagan, M. Guix, W. Gao, S. Sattayasamitsathit, J.C. Claussen, A. Merkoci, J. Wang</p>
            <p><em>Nano Letters</em> 12 (1), 396-401, 2011</p>
        </li>
        <li>
            <p><a href="http://works.bepress.com/cgi/viewcontent.cgi?article=1028&context=jonathan_claussen" class="gsc_a_at">Effects of Carbon Nanotube-Tethered Nanosphere Density on Amperometric Biosensing: Simulation and Experiment</a></p>
            <p>J.C. Claussen, J.B. Hengenius, M.M. Wickner, T.S. Fisher, D.M. Umulis, D.M. Porterfield</p>
            <p><em>The Journal of Physical Chemistry C.</em> 115 (43), 20896–20904, 2011</p>
        </li>
        <li>
            <p><a href="http://docs.lib.purdue.edu/cgi/viewcontent.cgi?article=1957&context=nanopub" class="gsc_a_at">A comparative study of enzyme immobilization strategies for multi-walled carbon nanotube glucose biosensors</a></p>
            <p>J. Shi, J.C. Claussen, E.S. McLamore, A. ul Haque, D. Jaroch, A.R. Diggs, P. Calvo-Marzal, J. L. Rickus, D.M. Porterfield</p>
            <p><em>Nanotechnology</em> 22 (35), 355502, 2011</p>
        </li>
        <li>
            <p><a href="http://works.bepress.com/cgi/viewcontent.cgi?article=1026&context=jonathan_claussen" class="gsc_a_at">Electrochemical glutamate biosensing with nanocube and nanosphere augmented single-walled carbon nanotube networks: a comparative study</a></p>
            <p>J.C. Claussen, M.S. Artiles, E.S. McLamore, S. Mohanty, J. Shi, J.L. Rickus, T.S. Fisher, D.M. Porterfield</p>
            <p><em>Journal of Materials Chemistry</em> 21 (30), 11224-11231, 2011</p>
        </li>
        <li>
            <p><a href="http://docs.lib.purdue.edu/cgi/viewcontent.cgi?article=2075&context=nanopub" class="gsc_a_at">Microbiosensors based on DNA modified single-walled carbon nanotube and Pt black nanocomposites</a></p>
            <p>J. Shi, T.G. Cha, J.C. Claussen, A.R. Diggs, J.H. Choi, D.M. Porterfield</p>
            <p><em>Analyst 136</em> (23), 4916-4924, 2011</p>
        </li>
        <li>
            <p><a href="http://docs.lib.purdue.edu/cgi/viewcontent.cgi?article=2011&context=nanopub" class="gsc_a_at">Transforming the fabrication and biofunctionalization of gold nanoelectrode arrays into versatile electrochemical glucose biosensors</a></p>
            <p>J.C. Claussen, M. Wickner, T.S. Fisher, D.M. Porterfield</p>
            <p><em>ACS Applied Materials & Interfaces</em> 3 (5), 1765–1770, 2011</p>
        </li>
        <li>
            <p><a href="http://www.sciencedirect.com/science/article/pii/S095656631000655X/pdfft?md5=e667da5aceb0bba5f3c4501f013279c2&pid=1-s2.0-S095656631000655X-main.pdf" class="gsc_a_at">A self-referencing platinum nanoparticle decorated enzyme-based microbiosensor for real-time measurement of physiological glucose transport</a></p>
            <p>E.S. McLamore, J. Shi, D. Jaroch, J.C. Claussen, A. Uchida, Y. Jiang, W. Zhang, M.K. Banks, K.K. Buhman, D. Teegarden, J.L. Rickus, D.M. Porterfield</p>
            <p><em>Biosensors and Bioelectronics</em> 26 (5), 2237-2245, 2011</p>
        </li>
        <li>
            <p><a href="http://docs.lib.purdue.edu/cgi/viewcontent.cgi?article=2021&context=nanopub" class="gsc_a_at">Oscillatory glucose flux in INS1 pancreatic Beta cells: a self-referencing microbiosensor study</a></p>
            <p>J. Shi, E.S. McLamore, D. Jaroch, J.C. Claussen, J.L. Rickus, D.M. Porterfield</p>
            <p><em>Analytical Biochemistry</em> 411 (2), 185–193, 2010</p>
        </li>
        <li>
            <p><a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC2864166/" class="gsc_a_at">Electrochemical glucose biosensor of platinum nanospheres connected by carbon nanotubes</a></p>
            <p>J.C. Claussen, S.S. Kim, A. ul Haque, M.S. Artiles, D.M. Porterfield, T.S. Fisher</p>
            <p><em>Journal of Diabetes Science and Technology</em> 4 (2), 312, 2010</p>
        </li>
        <li>
            <p><a href="http://www.researchgate.net/profile/Jenna_Rickus/publication/223569206_A_self-referencing_glutamate_biosensor_for_measuring_real_time_neuronal_glutamate_flux/links/0f31753c2f86c4a7bd000000.pdf" class="gsc_a_at">A self-referencing glutamate biosensor for measuring real-time neuronal glutamate flux</a></p>
            <p>E.S. McLamore, S. Mohanty, J. Shi, J. Claussen, J.L. Rickus, S. Jedlicka, D.M. Porterfield</p>
            <p><em>Journal of Neuroscience Methods</em> 189 (1), 14-22, 2010</p>
        </li>
        <li>
            <p><a href="http://docs.lib.purdue.edu/cgi/viewcontent.cgi?article=1316&context=nanopub" class="gsc_a_at">Electrochemical biosensor of nanocube-augmented carbon nanotube networks</a></p>
            <p>J.C. Claussen, A.D. Franklin, A. ul Haque, D.M. Porterfield, T.S. Fisher</p>
            <p><em>ACS Nano</em> 3 (1), 37-44, 2009</p>
        </li>
        <li>
            <p><a href="http://docs.lib.purdue.edu/cgi/viewcontent.cgi?article=1077&context=nanopub" class="gsc_a_at">Independently addressable fields of porous anodic alumina embedded in SiO2 on Si</a></p>
            <p>A.D. Franklin, D.B. Janes, J.C. Claussen, T.S. Fisher, T.D. Sands</p>
            <p><em>Applied Physics Letters</em> 92 (1), 013122-013122-3, 2008</p>
        </li>
    <h5>Book Chapters</h5>
        <li>
            <p><a href="https://scholar.google.com/citations?view_op=view_citation&hl=en&user=gJzQV6QAAAAJ&cstart=20&pagesize=80&citation_for_view=gJzQV6QAAAAJ:IWHjjKOFINEC" class="gsc_a_at">"Hybrid metallic nanoparticles: enhanced bioanalysis and biosensing via carbon nanotubes, graphene, and organic conjugation"</a></p>
            <p>M. Daniele, S. Campuzano, F. Kirilay, E.S. McLamore, Allison Cargill, Shaowei Ding, J.C. Claussen</p>
            <p><em>Nanobiosensors and Nanobioanalyses.</em> Springer  (In Press)</p>
        </li>
        <li>
            <p><a href="https://scholar.google.com/citations?view_op=view_citation&hl=en&user=gJzQV6QAAAAJ&cstart=20&pagesize=80&citation_for_view=gJzQV6QAAAAJ:qxL8FJ1GzNcC" class="gsc_a_at">"FRET-based cellular sensing with genetically encoded fluorescent indicators"</a></p>
            <p>J.C. Claussen, I.L. Medintz</p>
            <p><em>FRET – Förster Resonance Energy Transfer. From Theory to Applications</em>.  Wiley-VCH, (2013), ISBN: 9783527656028</p>
        </li>
        <li>
            <p><a href="https://scholar.google.com/citations?view_op=view_citation&hl=en&user=gJzQV6QAAAAJ&cstart=20&pagesize=80&citation_for_view=gJzQV6QAAAAJ:7PzlFSSx8tAC" class="gsc_a_at">"Nano-sized biosensors"</a></p>
            <p>J.C. Claussen, J. Shi, C.S. Rout, M.S. Artiles, M.M. Wickner, M.S. Stensberg, D.M. Porterfield, T.S. Fisher</p>
            <p><em>Biosensors for Medical Applications</em>. Woodhead Publishing, (2012), ISBN 1 84569 935</p>
        </li>
        <li>
            <p><u>Electrochemical Biosensors of Carbon Nanotubes</u></p>
            <p>J.C. Claussen, J. Shi, A.R. Diggs, D.M. Porterfield, T.S. Fisher</p>
            <p><em>Nanomaterials for the Life Sciences</em>, Ch. 8 (pp. 187-217) Wiley-VCH, (2011), ISBN 978-3-527-32169-8</p>
        </li>
    <h5>Conference Proceedings</h5>
        <li>
            <p><a href="http://proceedings.spiedigitallibrary.org/UserControls/#" class="gsc_a_at">"Enhancing molecular logic through modulation of temporal and spatial constraints with quantum dot-based systems that use fluorescent (förster) resonance energy transfer"</a></p>
            <p>J.C. Claussen, W. R. Algar, N. Hildebrandt, K. Susumu, M. G. Ancona, I.L. Medintz</p>
            <p><em>SPIE Nanoscience & Engineering Meeting</em>, San Diego, CA. (2013).</p>
        </li>
        <li>
            <p><a href="http://journals.cambridge.org/action/displayFulltext?type=1&fid=7972254&jid=OPL&volumeId=1236&issueId=-1&aid=7972252&bodyId=&membershipNumber=&societyETOCSession=" class="gsc_a_at">“Biosensor capture kinetics model of nanocube-augmented carbon nanotube networks,”</a></p>
            <p>J.C. Claussen, A. ul Haque, T.S. Fisher, M.D. Porterfield</p>
            <p><em>Materials Research Society Conference</em>, Boston, MA  (2009).</p>
        </li>
    <h5>Research Reports</h5>
        <li>
            <p><a href="http://spie.org/documents/Newsroom/Imported/005030/005030_10.pdf" class="gsc_a_at">"Nanoparticle biosensor for noninvasive glucose sensing."</a></p>
            <pJ.C. Claussen></p>
            <p>Sensing & Measurements, <em>SPIE Newsroom – Nanotechnology</em> (2013), DOI: 10.1117/2.1201308.005030</p>
        </li>
        <li>
            <p><a href="http://omicsonline.org/2153-0777/2153-0777-2-e117.php" class="gsc_a_at">“Using Nanotechnology to Improve Lab on a Chip Devices”</a></p>
            <p>J.C. Claussen, I.L. Medintz</p>
            <p><em>J. Biochip Tissue Chip.</em>, (2012), DOI: 10.4172/2153-0777.1000e117</p>
        </li>
    </ol>
</div>

</div><!--class="gsc_lcl" role="complementary" id="gsc_art"-->
</div><!--class="container"-->
</section>
