<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Research</h2>
                </div>
            </div>
            <div class="row text-center">
                <p class="research-summary text-muted">
                    The Claussen group is focused on understanding/developing science and technology that interfaces with biology on the nano/microscale. The laboratory develops carbon nanomaterials (e.g., graphene, carbon nanotubes, carbon dots) and hybrid nanostructured materials for disease diagnostics/treatment, energy, molecular logic, and small-scale propulsion applications. The use of biological agents (enzymes, antibodies, DNA, cells) and surface chemistry techniques are widely explored within our research. We also seek to understand and model the reaction-diffusion kinetics associated with the nano-bio interface. These research efforts are highly interdisciplinary and require expertise from nearly all engineering and science backgrounds.
                </p>
                <table class="research-bar">
                    <tbody>
                        <tr>
                            <td>
                                <img src="img/biosensor.jpg" alt="Lab on a Chip">
                            </td>
                            <td>
                                <img src="img/W.png" alt="Really cool contact lens">
                            </td>
                            <td>
                                <img src="img/Nanomaterials.jpg" alt="Carbon Nanoscale">
                            </td>
                            <td>
                                <img src="img/MF.png" alt="lab">
                            </td>
                            <td>
                                <img src="img/Nanomaterials1.png" alt="sphere" height="148px">
                            </td>
                        </tr>
                        <tr>
                            <td><h4>Biosensors</h4></td>
                            <td><h4>Wearables</h4></td>
                            <td><h4>Nanomaterials</h4></td>
                            <td><h4>Microfluidics</h4></td>
                            <td><h4>Nanomanufacturing</h4></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
