<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Research</h2>
                </div>
            </div>
            <div class="row text-center">
                <table class="research-bar">
                    <tbody>
                        <tr>
                            <td>
                                <img src="img/biosensor.jpg" alt="Lab on a Chip">
                            </td>
                            <td>
                                <img src="img/W.png" alt="Really cool contact lens">
                            </td>
                            <td>
                                <img src="img/Nanomaterials.jpg" alt="Carbon Nanoscale">
                            </td>
                            <td>
                                <img src="img/MF.png" alt="lab">
                            </td>
                            <td>
                                <img src="img/Nanomaterials.jpg" alt="lab">
                            </td>
                        </tr>
                        <tr>
                            <td><h4>Biosensors</h4></td>
                            <td><h4>Wearables</h4></td>
                            <td><h4>Nanomaterials</h4></td>
                            <td><h4>Microfluidics</h4></td>
                            <td><h4>Nanomanufacturing</h4></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <!-- If we want to keep this, I'll just comment it out of the code for now
            
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                    <img src="img/MF.png" class="img-responsive" alt="Lab on a Chip" height="150" width="150">
                    </span>
                    <h4 class="service-heading">Biosensors</h4>
                    <p class="text-muted"></p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                       <img src="img/W.png" class="img-responsive" alt="Really cool contact lens" height="150" width="150">
                    </span>
                    <h4 class="service-heading">Wearables</h4>
                    <p class="text-muted"></p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                       <img src="img/Nanomaterials.jpg" class="img-responsive" alt="Carbon Nanoscale" height="150" width="150">
                    </span>
                    <h4 class="service-heading">Nanomaterials</h4>
                </div>
            </div>
            
            -->
            
        </div>
    </section>
