<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Amazing Team</h2>
                    <h3 class="section-subheading text-muted">Researchers and Students</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-13 text-left">
                    <table class="Claussen-ID">
                        <tbody>
                            <tr class="Claussen-ID">
                                <td class="picture">
                                    <img alt="Dr. JC" src="img/team/0.jpg" class="img-responsive img-circle" align="middle">
                                    <ul class="list-inline social-buttons">
                                        <li>
                                            <a href="mailto:jcclauss@iastate.edu"><i class="fa fa-envelope"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://www.linkedin.com/pub/jonathan-claussen/8/181/477"><i class="fa fa-linkedin"></i></a>
                                        </li>
                                    </ul>
                                </td>
                                <td class="Dr_Info">
                                    <h3>Dr. Jonathan Claussen</h3>
                                    <p>Phone: 515-294-4690</p>
                                    <p>Address: 2104 Black Engineering | Iowa State University | Ames, IA 50011</p>
                                    <p>Email: <a href="mailto:jcclauss@iastate.edu?subject=What an Awesome Team!">jcclauss@iastate.edu</a></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                {% for member 1 to 4 in site.people %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Please contact Prof. Claussen <a href="mailto:jcclauss@iastate.edu?subject=Interested in Joining Research">via email</a> if you are interested in joining the group. We are currently looking for highly motivated postdocs, graduate students, and undergraduate students to join the group.</p>                </div>
            </div>
        </div>
    </section>
